body{
    background-color: #EDEDED;
}

*{
    font-family: 'Raleway', sans-serif;
}

h1{
    background-color: #f39700;
    padding: 16px;
    margin: 0;
    margin-bottom: 60px;
    font-weight: normal;
    font-size: 36px;
}
h1 > img {
    max-height: 178px;
}
.login-section {
    text-align: center;
    border: 0;
    color: #8a92a8;
}

.login-form-controls {
    margin: 24px 0 30px;
}

.login-form-controls input {
    width: 288px;
    padding: 0 16px;
    margin-bottom: 16px;
    line-height: 40px;
    border: 0 none;
    border-radius: 20px;
    color: #333333;
}
.login-form-controls input:focus {
    outline: none;
    border: none;
}
.login_btn {
    width: 288px;
    height: 40px;
    padding: 0 16px;
    margin-bottom: 30px;
    background-color: #4D6CE9;
    border: 0 none;
    border-radius: 20px;
    color: #ffffff;
    outline: 0;
}

.login_btn:hover,.login_btn:focus {
    background-color: #44447f;
}

.login_btn_g{
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    margin: 5px;
    padding: 5px;
    width: 272px;
    outline: none;
    font-size: 16px;
    font-weight: inherit;
}

.login_btn_g:hover,.login_btn_g:focus {
    background-color: rgba(0,0,0,0.2);
    border: 0 none;
    border-radius: 0;
    margin: 5px;
    padding: 5px;
    width: 272px;
    font-size: 16px;
    font-weight: inherit;
    outline: none;
}